<footer class="tohoku-footer">

    <div class="footer-content">

        <div class="footer-left">

            <h1>
                Discover the<br>
                Spirit of<br>
                Tōhoku.
            </h1>

            <p>
                Explore centuries-old shrines, breathtaking landmarks,
                and unforgettable cultural experiences of Tōhoku region through one
                intelligent tourism platform.
            </p>

            <a
    href="https://mail.google.com/mail/?view=cm&fs=1&to=playslucky733@gmail.com&su=Project%20T%C5%8Dhoku%20Inquiry"
    target="_blank"
    rel="noopener noreferrer"
    class="footer-button"
>
    Write to us →
</a>

        </div>

        <div class="footer-right">

          <a
    href="https://github.com/harshwardhan-shrivastava"
    target="_blank"
    rel="noopener noreferrer"
>
    GitHub ↗
</a>

            <div class="creator">

                <span>Created by</span>

                <h3>Harshwardhan Shrivastava</h3>

            </div>

        </div>

    </div>

    <div class="footer-bottom">

        <span>© 2026 Project Tōhoku</span>

        <div>

            <span>Built with Flask</span>

            <span>Python</span>

            <span>HTML</span>

            <span>CSS</span>

            <span>JavaScript</span>

        </div>

    </div>

</footer>